<launch>
    <node 
    pkg = "turtlesim"
    type = "turtlesim_node" 
    name = "turtlesim"
    respawn = "true"
    />

    <node 
    pkg = "turtlesim"
    type = "turtle_teleop_key" 
    name = "teleop_key"
    respawn = "true"
    />
</launch>


<!-- 
<node pkg=”package_name”   type=”executable_name”   name=”node_name” />
 -->
